// body {
//   padding-top: 80px;
// }

#landing-search.jumbotron {
  border-radius: 0;
}

.wrap.app-layout {
  margin-top: 20px;
}

.toolbox-wrapper div:last-child > .ant-card {
  margin-right: auto;
}

.ant-card-cover {
  background: #eee;
}
